body {
    background-color:#ffeaa7;
}

.btnStyle {
    background-color:cornflowerblue;
}

#container #botoes {
    position:relative;
}

#container #botoes button {
    border: 1px solid black;
    color:black;
    width:100px;
    height:25px;
    border-radius:4px;
}